.main-info {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.card-preview, .add-info {
  align-items: center;
  border: 2px solid lightgray;
  display: flex;
  justify-content: center;
  padding: 2%;
}
